:root {
  --black: #0f0f0f;
  --white: #fefefe;
  --f1: #f1f1f1;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 50px 0;
  font-family: "Poppins", sans-serif;
  min-height: 100svh;
  background-color: var(--f1);
  // overflow: hidden;
}
